html { background-color: #fff; } 
body * { margin: 0; border: 0; padding: 0;}

body {
    min-height: 100%;
    max-width: 100%;
    margin: 0 auto;
   /* font-family: 'Open Sans', sans-serif;*/
}


.header .navbar {
  background-color: transparent !important;

 }
 
.navbar{

    width: 100vw;
    z-index: 1;
/*
    position: fixed;
*/
}


.btn-primario:hover {
  
    background-color: transparent !important;
  color: white;

  border: 5px solid blue;
  border-radius: 5px;
  cursor: pointer;

}

.navbar-brand{

  
   /*
      color: #fff;
 
	font-size: 20pt;
	font-weight: ;
  
*/
}
 
.navbar-menutxt{

        /*
    color:#fff  !important;

	font-size: 20pt !important ;
	font-weight: ;
    */
}

